POSTGRES_DB=warehouse
POSTGRES_USER=etl
POSTGRES_PASSWORD=etl_local_password
POSTGRES_PORT=5432

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio_local_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
S3_BUCKET=etl-python
